.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #72A7F6;
  border-radius: 10px;
  height: 77px;
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 30px;
}

.rubrique {
  border: solid black 1px;
  border-radius: 10px;
  height: 77px;
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 38px;
}